<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
       default-init-method="init" default-destroy-method="destroy">
    <context:annotation-config/>
    <bean id="dollarBean"
          class="getman.homework.task2.Dollar">
    </bean>

    <bean id="euroBean"
          class="getman.homework.task2.Euro">
    </bean>
    <bean id="rubleBean"
          class="getman.homework.task2.Ruble">
    </bean>

    <bean id="bankomat"
          class="getman.homework.task9.Bankomat"
          factory-method="getBankomat"
          scope="singleton">
    </bean>


</beans>